.tester__table {
  width: 80%;
  height: 170px;
  position: relative;
}

.list-small {
  width: 100%;
  height: 30px;
  position: relative;
}

.tester__table__container {
  border-radius: 2px;
  height: 100%;
}

.table {
  overflow: auto;
  background-color: #b2beb5;
  border-radius: 5px;
  padding: 10px 35px;
  border: 2px solid #3a3a3a;
  height: 100%;
}

.tester__table__container div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 2px;
}

.tester__table__container .table table tr {
  text-align: left;
  border-bottom: 1px solid #7b7b7b;
}
table {
  border-collapse: collapse;
}
.tester__table__container .table table tr td,
th {
  padding: 10px 0;
  text-align: left;
}
.tester__table__container .table table tr td button {
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

.tester__table__container .table table tr .green {
  color: #00980f;
}
.tester__table__container .table table tr .orange {
  color: #f57825;
}
.tester__table__container .table table tr .red {
  color: #970a0a;
}
